/*----------------------------------------------------
@File: Custom Styles
@Author: Miguel A. Rangel - MG IDEAS
@URL: https://bimbovenezuela.com/bimbotinto

/*====================================================*/


/* Bimbo Tinto */